{% load i18n %}

<div class="grademe_block">
  <h1 class="block-title">{{title}}</h1>
  <p class="block-description">
    {% if grade and reasons %} 
        {% trans "You got " %}<span class="grade">{{grade}} %</span>{% trans " score for this activity." %}<br />
        {% trans "Explanation: " %}
        {% for reason in reasons %}
            <div class="reasons">
                <ul>
                    <li>{{reason}}</li>
                </ul>
            </div> 
        {% endfor %}
    {% elif grade == 0 and not reasons %} 
        {% blocktrans %}Click on the {{button_text}} button to see your score.{% endblocktrans %}
    {% elif not grade and not reasons and not results %}
        {% trans "We cannot find your account on Customization. Please make sure that you have created your account. If you need assistance, please contact the course team." %}
    {% else %} 
        {% trans "Something went wrong please try again." %}
    {% endif%}
  </p>
  <button class="block-button-loading" style="display: none;">
        <i class="fa fa-spinner fa-spin" style="margin-right: 8px;"></i>
        {% trans "Loading" %}
  </button>
  <button class="block-button" id="grade-me">{{button_text}}</button>
</div>
