/* CSS for GradeFetcherXBlock */

.grademe_block .block-title {
    font-weight: bold;
}

.grademe_block .block-description {
    font-size: 16px;
}
.grademe_block .block-button {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border-color: #bdbdbd;
    margin-top: 20px;
}
.grademe_block .block-button:hover {
    scale: 1.1;
    background-color: #888;
    color: #fff;
    border-color: #fff;
}
.grademe_block .grade,
.grademe_block .reasons {
    font-weight: bold;
}
.grademe_block .reasons {
    font-style: italic;
}
.grademe_block .block-button-loading {
    display: block;
    cursor: not-allowed;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border-color: #bdbdbd;
    margin-top: 20px;
}
